### 데이터 구조와 데이터 다루기
> 데이터를 다루기 위해, 이해가 필요한 추가 데이터 구조와 포맷이 있음

### 1. 파이썬 튜플
- 리스트와 같은 특별한 타입의 데이터 구조
- 선언: () 괄호를 사용하며, 리스트처럼 내부에 아이템을 넣을 수 있음
  - 선언 후, 추가, 삭제, 수정은 불가하므로, 선언시 미리 아이템을 넣어서 선언함
  - 리스트처럼 아이템 간에는 콤마(,)로 구분
```
변수명 = (아이템1, 아이템2, ...)
``` 

- 읽기: 리스트와 동일하게 인덱스 번호로 특정 아이템 선택 가능 (인덱스 번호는 리스트와 동일하게 0번부터 시작)

```
변수명[인덱스번호]
```

> 튜플은 많이 쓰이지 않지만, SQL 등을 처리할 때, 관련 부분이 나오므로, 본 강의에서 다른 데이터 구조와 함께 이해만 하기로 함

In [51]:
data = (1, 2, 3, 4)
print (type(data), data, data[0])

<class 'tuple'> (1, 2, 3, 4) 1

### 2. 파이썬 사전(Dictionary)

- 리스트와 같은 특별한 타입의 데이터 구조 
- 선언: {} 괄호를 사용하며, 리스트/튜플과 달리 하나의 아이템은 key 와 value 로 이루어져 있음
  - 하나의 아이템은 key:value 로 {} 괄호 안에 넣을 수 있고, 아이템 간에는 콤마(,)로 구분

```python
변수명 = {key1:value1, key2:value2, ... }
```

  - 추가, 삭제, 수정이 가능하므로, 빈 사전으로 선언도 가능함
  
```python
변수명 = {} 또는
변수명 = dict() 
```

In [52]:
data1 = {'name':'Dave Lee', 'age':20}

In [53]:
type(data1)

dict

##### 사전 데이터 읽기 (특정 아이템 읽기)
- 인덱스 번호 대신에, key 를 통해 key 에 해당하는 value 를 얻을 수 있음
```python
변수명[key1] 
```

In [54]:
data1['name']

'Dave Lee'

In [55]:
data1['age']

20

##### 사전 데이터 추가 (아이템 추가)
- 새로운 key 에 대입할 value 를 넣어주면 됨

```python
변수명[newkey] = newvalue
```

In [56]:
data1['hobby'] = 'coding'

In [57]:
data1

{'name': 'Dave Lee', 'age': 20, 'hobby': 'coding'}

##### 사전 데이터 수정 (아이템 수정)
- 기존 key 에 수정할(새로운) value 를 넣어주면 됨
```python
변수명[key] = newvalue
```

In [58]:
data1['hobby'] = 'programming'

In [59]:
data1

{'name': 'Dave Lee', 'age': 20, 'hobby': 'programming'}

##### 사전 데이터 삭제 (아이템 삭제)
- 삭제할 아이템의 key 를 다음과 같이 작성해서, 해당 아이템을 삭제할 수 있음
```python
del 변수명[key]
```

In [60]:
del data1['hobby']

In [61]:
data1

{'name': 'Dave Lee', 'age': 20}

#### 사전 데이터 key 또는 value 만 각각 리스트로 가져오기

In [62]:
data1 = {'name':'Dave Lee', 'age':20}

In [63]:
data1.keys()

dict_keys(['name', 'age'])

In [64]:
data1.values()

dict_values(['Dave Lee', 20])

##### keys() 와 values() 값을 리스트로 바꾸려면 list() 함수를 쓰면 됨

In [65]:
list(data1.keys())

['name', 'age']

In [66]:
list(data1.values())

['Dave Lee', 20]

### 3. 사전 데이터와 JSON

#### JSON 이란?
> 데이터를 처리하기 위한 다양한 데이터 포맷이 있음 (파이썬 안에서 제공하는 데이터 구조와는 다른 개념) <br>
> 이 중에서도 JSON 은 프로그래밍/데이터에서도 가장 많이 다뤄지므로 개념을 이해하고 있어야 함 <br>
> 걱정할 필요는 없음, JSON = 파이썬 사전 이라고 생각하면 됨

 - **J**avaScript **Ob**ject **N**otation 줄임말
 - JSON은 서버와 클라이언트 또는 컴퓨터/프로그램 사이에 데이터를 주고 받을 때 사용하는 데이터 포멧
 - 키와 값을 괄호와 세미콜론과 같이 간단한 기호로 구성하여 표현할 수 있고, 언어나 운영체제에 구애받지 않기 때문에 많이 사용됨
 - 특히 웹/앱 환경에서 Rest API를 사용하여, 서버와 클라이언트 사이에 데이터를 주고 받을때 많이 사용
 - JSON 포멧 예 <br>
 { "id":"01", "language": "Java", "edition": "third", "author": "Herbert Schildt" }

### 4. 데이터 구조 활용을 위한 연습
- 데이터를 다루기 위해, 가장 많이 쓰이는 파이썬 데이터 구조는 리스트와 사전
- 리스트, 사전의 각 아이템은 또다른 리스트, 사전이 될 수 있음

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="3em" style="font-weight:bold;color:#3f8dbf;">예를 보여드리는 것으로, 익숙해지는데 시간이 걸립니다. <br>연습문제와 함께, 본 강의 전과정에 걸쳐서 다양한 적용 예를 보시면서, 익숙해진 것으로, 현재는 이런 문법이 된다는 부분만 이해하면 됩니다.</font><br>
</div>

#### 리스트 예1

In [67]:
data1 = ['Dave', [1, 2, 3], 3]

In [68]:
data1[0]

'Dave'

In [69]:
data1[1]

[1, 2, 3]

In [71]:
data1[1][1]

2

#### 리스트 예2

In [72]:
data1 = ['Dave', {'age':20, 'hobby':'coding'}]

In [73]:
data1[0]

'Dave'

In [74]:
data1[1]

{'age': 20, 'hobby': 'coding'}

In [26]:
data1[1]['age']

20

In [27]:
data1[1]['hobby']

'coding'

#### 사전 예1

In [76]:
data1 = {'name':'Dave', 'hobby':['python', 'pandas']}

In [77]:
data1['name']

'Dave'

In [78]:
data1['hobby']

['python', 'pandas']

In [80]:
data1['hobby'][1]

'pandas'

#### 사전 예2

In [81]:
data1 = {'name':'Dave', 'hobby':{'coding':['python', 'pandas']}}

In [82]:
data1['name']

'Dave'

In [83]:
data1['hobby']

{'coding': ['python', 'pandas']}

In [84]:
data1['hobby']['coding']

['python', 'pandas']

In [86]:
data1['hobby']['coding'][1]

'pandas'

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="4em" style="font-weight:bold;color:#3f8dbf;">연습문제 (직접 해보신 후에, 영상으로 확인하세요!)</font><br>
'data', 'Dave', 'fun', 'coding', 'analysis' 를 저장하는 튜플을 만들고 첫 번째 튜플값과 마지막 번째 튜플값을 출력하세요.<br>
예:<br>
    data<br>
    analysis<br>
</div>

In [91]:
data1 = ('data', 'Dave', 'fun', 'coding', 'analysis')
print (data1[0], data1[4])

data analysis

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="4em" style="font-weight:bold;color:#3f8dbf;">연습문제 (직접 해보신 후에, 영상으로 확인하세요!)</font><br>
비어 있는 리스트, 딕셔너리 변수를 하나씩 각각 만들고, 각 데이터 타입을 출력해보세요<br>
</div>

In [92]:
data1 = list()
data2 = dict()
print (type(data1), type(data2))

<class 'list'> <class 'dict'>

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="4em" style="font-weight:bold;color:#3f8dbf;">연습문제 (직접 해보신 후에, 영상으로 확인하세요!)</font><br>
다음 영어 사전 데이터를 딕셔너리 변수로 만들고, 사전 데이터 전체와, key 리스트, value 리스트를 각각 출력하세요.
<br>


<table>
<thead>
<tr>
<th>영어단어</th>
<th>의미</th>
</tr>
</thead>
<tbody>
<tr>
<td>baby</td>
<td>아기</td>
</tr>
<tr>
<td>bad</td>
<td>가방</td>
</tr>
<tr>
<td>ball</td>
<td>공</td>
</tr>
</tbody>
</table>

결과: <br>
{'baby': '아기', 'bad': '가방', 'ball': '공'} <br>
dict_keys(['baby', 'bad', 'ball'])<br>
dict_values(['아기', '가방', '공'])
    </div>

In [96]:
data1 = {'baby': '아기', 'bad': '가방', 'ball': '공'}
print (data1)
print (data1.keys())
print (data1.values())

{'baby': '아기', 'bad': '가방', 'ball': '공'}
dict_keys(['baby', 'bad', 'ball'])
dict_values(['아기', '가방', '공'])

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="4em" style="font-weight:bold;color:#3f8dbf;">연습문제 (직접 해보신 후에, 영상으로 확인하세요!)</font><br>
다음 영어 사전 데이터를 딕셔너리 변수로 만들고, 반복문을 사용해서, key 와 value 를 결과와 같이 출력하세요 <br>

힌트: for item in data1.keys(): 와 같이 작성하면, item 에 각 key 가 들어감
 <br>

<table>
<thead>
<tr>
<th>영어단어</th>
<th>의미</th>
</tr>
</thead>
<tbody>
<tr>
<td>baby</td>
<td>아기</td>
</tr>
<tr>
<td>bad</td>
<td>가방</td>
</tr>
<tr>
<td>ball</td>
<td>공</td>
</tr>
</tbody>
</table>

결과: <br>
baby : 아기 <br>
bad : 가방 <br>
ball : 공
    </div>

In [99]:
data1 = {'baby': '아기', 'bad': '가방', 'ball': '공'}
for item in data1.keys():
    print (item, ':', data1[item])

baby : 아기
bad : 가방
ball : 공

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="4em" style="font-weight:bold;color:#3f8dbf;">연습문제 (직접 해보신 후에, 영상으로 확인하세요!)</font><br>

다음 data1 딕셔너리 변수를 선언하고, 홈페이지, 이름(name), 강의(lectures) 맨 처음 아이템을 다음과 같이 출력하세요

```python
data1 = {'details': {'생년월일': '1999-01-01',
                   '성별': '남',
                   '직업': '디지털노마드',
                   '홈페이지': 'https://www.fun-coding.org'},
 'name': 'Dave Lee',
 'lectures': ['데이터분석', '자동화', '풀스택', '크롤링']}
```

* 출력 예:<br>
이름 : Dave Lee<br>
홈페이지 : https://www.fun-coding.org <br>
강의 : 데이터분석 <br>
</div>

In [100]:
data1 = {'details': {'생년월일': '1999-01-01',
                   '성별': '남',
                   '직업': '디지털노마드',
                   '홈페이지': 'https://www.fun-coding.org'},
 'name': 'Dave Lee',
 'lectures': ['데이터분석', '자동화', '풀스택', '크롤링']}

In [101]:
data1['details']

{'생년월일': '1999-01-01',
 '성별': '남',
 '직업': '디지털노마드',
 '홈페이지': 'https://www.fun-coding.org'}

In [102]:
data1['details']['홈페이지']

'https://www.fun-coding.org'

In [103]:
data1['name']

'Dave Lee'

In [104]:
data1['lectures']

['데이터분석', '자동화', '풀스택', '크롤링']

In [105]:
data1['lectures'][0]

'데이터분석'

In [107]:
print ('이름 :', data1['name'])
print ('홈페이지 :', data1['details']['홈페이지'])
print ('강의 :', data1['lectures'][0])

이름 : Dave Lee
홈페이지 : https://www.fun-coding.org
강의 : 데이터분석