# 파이썬 리스트

> 연관있는 데이터를 다루기 위해, 파이썬은 리스트 라는 특별한 구조를 제공함

- 프로그래밍 기본
  1. 데이터 타입, 변수, 그리고 출력
  2. 조건문
  3. 반복문
  4. 함수
  
- 파이썬 데이터 처리 기본
  1. 파이썬 리스트(list)
  
> **입문자분들이 어려워하시는 3번째 관문입니다.** <br>
> **너무 어려우시다면 1:1코칭으로 도와드리겠습니다.**

## 리스트

### 1. 연관있는 데이터를 다루는 데이터 구조
- [  ] 안에 , 를 사용해서 데이터를 써넣으면 됨
  - 예: datas1 = [1, 2, 'hello', 1.2]
  
> 리스트 변수는 구분을 위해 datas1, datas2 등으로 s를 붙이도록 합니다.

In [4]:
# 예: 1학년 1반 학습에 있는 학생 이름들
datas1 = ['Dave Lee', 'Alex', '김태환']

In [3]:
datas1

['Dave Lee', 'Alex', '김태환']

### 데이터를 특별한 구조로 다룰 때는 반드시 CRUD 방법을 익히시면 됩니다.
- C: Create (리스트 데이터 생성)
- R: Read (리스트 데이터 읽기)
- U: Update (리스트 데이터 수정)
- D: Delete (리스트 데이터 삭제)

### 리스트 데이터 생성 (Create)
- 빈 리스트 데이터 생성
    ```python
    datas1 = list()
    ```
    
- 데이터가 있는 리스트 데이터 생성
    ```python
    datas1 = [1, 2, 3]
    ```

- **데이터가 있는 리스트 데이터에 데이터 추가하기**
    ```python
    datas1.append(4)
    ```

### 리스트 데이터 읽기 (Read)
- 리스트 데이터 맨 앞에서부터 인덱스 번호가 주어짐
  - 인덱스 번호는 0번부터 시작함

In [10]:
datas1 = ['Dave Lee', 'Alex', '김태환']

In [6]:
datas1[0]

'Dave Lee'

In [7]:
datas1[1]

'Alex'

In [9]:
# 전체 리스트 데이터 확인
print (datas1[2])

김태환

### 리스트 데이터 수정 (Update)
- 리스트 데이터 각각을 인덱스 번호로 지정한 후, 변수처럼 새로 값을 넣으면 됨

In [11]:
datas1[1] = 'Andy'

### 리스트 데이터 삭제 (Delete)
- 특이한 문법
```python
del 리스트데이터[인덱스번호]
```

In [12]:
del datas1[1]

In [14]:
datas1[1]

'김태환'

### 패턴으로 익히기
- 변수가 리스트 변수라면, 리스트 변수에 들어있는 각 데이터는 다음과 같이 사용합니다.

```python
for item in 리스트변수:
    print(item)
```

In [15]:
datas1 = [1, 2, 3]
for item in datas1:
    print (item)

1
2
3

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="4em" style="font-weight:bold;color:#3f8dbf;">연습문제 (직접 해보신 후에, 영상으로 확인하세요!)</font><br>
다음 리스트 변수에 있는 각 데이터를 한 라인에 하나씩 출력하세요<br>
datas1 = ["fun", "coding", "Dave", "Lee", "업무", "자동화"]<br>
예:<br>
    fun<br>
    coding<br>
    Dave<br>    
</div>

In [17]:
datas1 = ["fun", "coding", "Dave", "Lee", "업무", "자동화"]
for item in datas1:
    print (item)

fun
coding
Dave
Lee
업무
자동화

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="4em" style="font-weight:bold;color:#3f8dbf;">연습문제 (직접 해보신 후에, 영상으로 확인하세요!)</font><br>
다음 리스트 변수에 있는 각 데이터에 2를 곱한 값을 한 라인에 하나씩 출력하세요<br>
datas1 = [2, 4, 6, 8, 10]<br>
예:<br>
    4<br>
    8<br>
    12<br>    
</div>

In [18]:
datas1 = [2, 4, 6, 8, 10]
for item in datas1:
    print (item * 2)

4
8
12
16
20

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="4em" style="font-weight:bold;color:#3f8dbf;">연습문제 (직접 해보신 후에, 영상으로 확인하세요!)</font><br>
빈 리스트 변수를 만들고, 다음 데이터를 해당 리스트 변수에 append() 를 사용해서 추가하세요<br>
2, 4, 6, 8, 10<br>
예:<br>
    [2, 4, 6, 8, 10]<br>
</div>

In [19]:
datas1 = list()

datas1.append(2)
datas1.append(4)
datas1.append(6)
datas1.append(8)
datas1.append(10)

In [20]:
datas1

[2, 4, 6, 8, 10]